.login_box {
  margin-bottom: 10px;
}
.login_box .login_input {
  display: inline-block;
  width: 100%;
  position: relative;
input
}
.login_box .login_code_main {
  vertical-align: middle;
}
.login_box .login_code_main:before {
  content: '';
}
.login_box .login_code_img {
  width: 100%;
}
.login_box .login_icon {
  position: absolute;
  font-size: 1.8rem;
  top: 0;
  left: 0;
}
