$fd_input_height = 2rem
$fd_background_active = #6ff76f
$fd_background = #00ee00
$fd_font_active = #ff7400

.login_box
  margin-bottom 10px
  .login_input
    display inline-block
    width 100%
    position relative
    input
      text-indent 2rem

  .login_code_main
    vertical-align middle
  .login_code_main:before
    content ''
  .login_code_img
    width 100%
  .login_icon
    position absolute
    font-size 1.8rem
    top 0.8rem
    left 0.7rem
    color $fd_font_active

.login_btn
  margin-top 25px
