#fd_footer .fd_footer_nav_main {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 0;
  background-color: #0e0;
}
#fd_footer .fd_footer_fill {
  height: 1rem;
}
.fd_footer_nav_main a {
  color: #fff;
}
.fd_footer_nav_main li {
  display: inline-block;
  font-size: 0.3rem;
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  border-left: 1px solid #f76fbc;
}
.fd_footer_nav_main li:first-child {
  border-left: none;
}
.fd_footer_nav_main .fd_footer_nav_icon,
.fd_footer_nav_main .icon {
  font-size: 0.4rem;
}
.fd_footer_nav_main .active {
  color: #ff7400;
}
.fd_footer_nav_main .fd_footer_nav_box {
  position: relative;
}
.fd_footer_nav_main .fd_footer_nav_num {
  position: absolute;
  top: -0.175rem;
  left: 58%;
  height: 0.5rem;
  line-height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  font-size: 0.3rem;
  color: #fff;
  background-color: #ff7400;
}
.active .fd_footer_nav_box {
  background-color: #6ff76f;
}
